public net.minecraft.world.entity.animal.Cat setCollarColor(Lnet/minecraft/world/item/DyeColor;)V # setCollarColor
public net.minecraft.world.entity.animal.Wolf setCollarColor(Lnet/minecraft/world/item/DyeColor;)V # setCollarColor
# CIF Fishing Net - FishingHook internals
public net.minecraft.world.entity.projectile.FishingHook$OpenWaterType
public net.minecraft.world.entity.projectile.FishingHook f_37093_ # openWater
public net.minecraft.world.entity.projectile.FishingHook m_37163_(Lnet/minecraft/core/BlockPos;)Lnet/minecraft/world/entity/projectile/FishingHook$OpenWaterType; # getOpenWaterTypeForBlock
public net.minecraft.world.entity.projectile.FishingHook m_37147_(Lnet/minecraft/core/BlockPos;Lnet/minecraft/core/BlockPos;)Lnet/minecraft/world/entity/projectile/FishingHook$OpenWaterType; # getOpenWaterTypeForArea
# CIF Roost - BaseSpawner internals
public net.minecraft.world.level.BaseSpawner spawnPotentials
public net.minecraft.world.level.BaseSpawner nextSpawnData
